{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1>Buy shares of a Stock</h1>
    <form action="/buy" method="post">
        <label for="symbol">Symbol:</label>
        <input name="symbol" placeholder="Symbol" id="symbol" type="text">
        <br>
        <label for="shares">Shares:</label>
        <input name="shares" placeholder="Shares" id="shares" type="text">
        <br>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
